<!-- Loop over each post in the database -->
{{#each commentposts as |usercomment| }}
<div class="row mb-4 project">
  <div class="col-md-5">
     <h2>
      <!-- getting post id and title from database-->
    
      <p>{{ usercomment.blogpost.p_content}}</p>
    </h2>
    <h2>
      <!-- getting post id and title from database-->
    
      <p>{{ usercomment.c_content}}</p>
    </h2>
    
     <!-- getting post id and title from database-->
    <p>Created by {{usercomment.user.username}} on {{format_date usercomment.createdAt}}</p>
  </div>
  
</div>
{{/each}}