<h2>Post</h2>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"> Title: {{ title }}</h5>   
   
    <p class="card-text">Content: {{ p_content }}</p>
     <h6 class="card-subtitle mb-2 text-body-secondary">Created by {{user.username}} on {{format_date user.createdAt}}</h6>

    
     
   
  </div>
</div>