<h2>Your Dashboard</h2>
<h2>Welcome {{req.session.user_id }}</h2>
<div class="container mt-4">
        <div class="card" >
            <div class="card-header">
                Create a post
            </div>
            <div class="card-body">
        <form class="post-user">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="title">
              </div>

              <div class="mb-3">
                <label for="yourpost" class="form-label">Your post</label>
              <div class="form-floating">
                <textarea class="form-control" placeholder="Leave a comment here" id="yourpost"></textarea>
                
                </div>
            </div>
            
            <button type="submit" class="btn btn-primary">post</button>
     </form>

      <script src="./js/postblog.js"></script>