<div class="container mt-4">
        <div class="card" >
            <div class="card-header">
                Sign in
            </div>
            <div class="card-body">
        <form class="signin-user">
            <div class="mb-3">
                <label for="username" class="form-label">Name</label>
                <input type="text" class="form-control" id="username" name="name">
              </div>

              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
            
            <button type="submit" class="btn btn-primary">Sign in</button>
     </form>
    
            </div>
       </div>
    </div>

    <script src="./js/login.js"></script>