
<div class="container mt-4">
        <div class="card" >
            <div class="card-header">
                Update post
            </div>
            <div class="card-body">
        <form class="update-post">
            <div class="mb-3">
                <label for="update_title" class="form-label">Title</label>
                <input type="text" class="form-control" id="update_title" name="title">
              </div>

              <div class="mb-3">
                <label for="update_yourpost" id="update_yourpost" class="form-label">Your post</label>
              <div class="form-floating">
                <textarea class="form-control" id="update_yourpost"></textarea>
                
                </div>
            </div>
            
            <button type="submit" class="btn btn-primary">post</button>
     </form>

   
</div>

<script src="./js/editpost.js"></script>

